/* @media screen and (min-width:840px) { */
/* body { */
/* 	min-height: 100vh; */
/*     min-width: 840px; */
/* } */
.main {
    width:100%;
    height:100%;
    /* border: 1px solid black; */
}
.logo {
    width:100%;
    height:100px;
    text-align: center;
}
.logoImg {
    width:20%;
    margin-top:20px;
    /* border: 1px solid black; */
    display: inline-block;
}
/* 로그인, 장바구니, 마이페이지, 고객센터 연결 */
.menu {
    width:100%;
    height:40px;
    background-color: white;
    text-align : right;
}
a {
    text-decoration-line: none;
}
a:link {
  color : gray;
}
/* 색상상자 */
.name{
    width:100%;
    height:20px;
    background-color: #97d4f7;
    color:white;
    text-align : center;
    padding : 20px 0;
}
/* 카테고리 */    
#nav {
	list-style:none;
	height: 40px;
	padding: 5px 1px;
	margin: 0;
}
#nav li {
	float:left;
	position:relative;
	margin-top:0.5%;
	padding:0;
}
#nav li a {
	display:block;
	padding:7px 8px;
	margin:0;
	text-decoration: none;
}
#nav ul {
	list-style: none;
	margin:0;
	padding:0;
	position: absolute;
	left:0;
	top:40px;
	text-align: center;
	opacity: 0;
}
#nav ul li {
	float: none;
	margin:0;
	padding:0;
	width: 150px;
	height:40px;
	background-color: white;
}
#nav li:hover ul {
	opacity: 1;
	z-index: 1;
}
#nav li:hover ul li {
	overflow: visible;
	z-index: 1;
}
#nav li ul li:hover > a {
	background-color: #97d4f7;
	color:black;
	margin:0;
	padding:5px;
	z-index: 1;
}
.category {
    width:100%;
    height:60px;
    background-color: white;
}
.category_ul {
    float:right;
/* 	margin-left: 50%; */
}
.category_li {
    float: left;
    margin-right: 10px;
}
a:hover {
        color: #97d4f7;
}
/* 검색창 */
#searchForm {
	border:none;
	height: 30px;
	outline: none;	
/* 	border-radius: 8px; */
	width: 25%;
	margin-right: 1%;
	 cursor: pointer;
}
.search {
    position: relative;
    width: 105%;
    
}
.searchBox {
    width: 220px;
    border: 1px solid #bbb;
    border-radius: 15px;
    padding: 5px 5px;
    font-size: 14px;
    margin-top:2%;
}
.search_img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
/* ----------------------------------------------*/
/* 카테고리 책 배치하기 */
.category-All {
	width:100%;
	height:1000px;
	text-align: center;
	border: 2px solid rgb(216, 216, 216);
}
.category-All1 {
	width:100%;
	height:520px;
	text-align: center;
	border: 2px solid rgb(216, 216, 216);
}
.category1-All {
	width:90%;
    height:400px;
    margin-left:5%;
    margin-top:3%;
    border:1px solid lightgray;
    text-align: left;
}
.book1-All {
/* 	float:left; */
	width:99%;
	height:330px;
	margin: 0 auto;
/* 	flex: 0 0 auto; */
/*   	margin-right: 10px; */
/*   	display: flex; */
 	flex-wrap: nowrap;
  	overflow-x: auto;
 	white-space: nowrap;
 	text-align: center;
}
.book {
	width:100%;
	height:290px;
	float:left;
	text-align: center;
	margin: 0 auto;
	display:inline-flex;
}
.bookImg {
	width:100%;
	height : 55%;
	overflow: hidden;

}
.bookName {
	width:100%;
	text-align: left;
	line-height: 10px;
/* 	margin-left: 20%; */
	font-size:15px;
	height:21%;
}

/* 책 넣기 */
.bookCate {
	text-align:center;
	font-weight: bold;
	font-size:20px;
/* 	margin-left: 3%; */
}
.book_img {
	width:100px;
	height:150px;
	margin-top: 1%;
}
#date  {
	color: gray;
	font-size:12px;
	margin-left: 25%;
}
#name {
	width:160px;
	height:25px;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 25%;
}
#write {
	color: skyblue;
	height:15px;
	width:160px;
	font-size:12px;
	margin-left: 25%;
	text-overflow:ellipsis;
	overflow:hidden;
}
#price {
	font-size: 15px;
	font-weight: bold;
	margin-left: 25%;
}
/* ------------------------------*/
/* 페이징 */
.divbody_r_footer{
   position: absolute;
   margin-top:1.5%;
/*    bottom:10px; */
/*    margin-bottom:15px; */
   right:0;
   
   width:99%;
   text-align:center;
   height:30px;
   font-size:20px;
}
.divbody_r_footer:hover{
   cursor:pointer;
} 
span:hover {
	color:#97d4f7;
}
.a {
	width:19.5%;
/* 	flex: 0 0 auto; */
	margin:0 auto;
}

/* ///드롭다운// */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: medium;
    background-color: inherit;
    color : black;
    padding: 0;
    border: none;
    cursor: pointer;
}
.dropbtn:hover {
    color: #97d4f7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
     transform: translateX(-50%); /* Adjust for centering */
}

.dropdown-content a {
    color : gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #97d4f7;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}
/* 저작권 */
.footer_img {
	width: 15%;
	margin-top:1%;
/* 	height:100px; */
}
footer {
    display: block;
    margin-bottom:10px;
	padding:10px;
}
.footer-layer2 {
	display: flex;
}
.footer_new .footer-layer2 {
    width: 100%;
    height: 170px;
    margin: 30px auto;
    font-size: 12px;
    color: #555;
    line-height: 150%;
}
.footer_new {
    border-top: #ddd solid 2px;
    background: #fff;
}
.footer-1, .footer-2, .footer-3 {
	list-style: none;
	position: relative;
    padding-left: 15px;
    font: 14px/1.7 'SDNeoL', 'notoL';
    color: #999;		
}
.footer-1 {
	width: 25%;
}
.footer-2 {
	width: 45%;
}
.footer-3 {
	width: 30%;
}
.titlename {
	color:#58ACFA;
	margin-left:1%;
}
.provTit {
    margin: 14px 0 5px;
/*     font: 15px/1.5 'SDNeoL', 'notoR'; */
    color: #222;
    }

   a {
	 text-decoration-line: none;
	 text-align: center;
 	 color: inherit; /* 링크의 색상 제거 */
}