.main {
    width:100%;
    height:100%;
    /* border: 1px solid black; */
}
.logo {
    width:100%;
    height:100px;
    text-align: center;
}
.logoImg {
    width:20%;
    margin-top:20px;
    /* border: 1px solid black; */
    display: inline-block;
}
/* 로그인, 장바구니, 마이페이지, 고객센터 연결 */
.menu {
    width:100%;
    height:40px;
    background-color: white;
    text-align : right;
}
a {
    text-decoration-line: none;
}
a:link {
    color : gray;
}
/* 색상상자 */
.name{
    width:100%;
    height:20px;
    background-color: #97d4f7;
    color:white;
    text-align : center;
    padding : 20px 0;
}
/* 카테고리 */
#nav {
	list-style:none;
	height: 40px;
	padding: 5px 1px;
	margin: 0 auto;
	text-align: center; /* 가운데 정렬을 위해 추가 */
}
#nav li {
 	display: inline-block; /* 가로로 나열하기 위해 수정 */
/* 	float:left; */
	position:relative;
	margin-top:0.5%;
	padding:0;
}
#nav li a {
	display:block;
	padding:7px 8px;
	margin:0;
	text-decoration: none;
}
#nav ul {
	list-style: none;
	margin:0;
	padding:0;
	position: absolute;
	left:0;
	top:40px;
	text-align: center;
	opacity: 0;
}

.category {
    width:100%;
    height:60px;
    background-color: white;
    text-align: center; /* 가운데 정렬을 위해 추가 */
/*     margin-left:27%; */
}
.category_ul {
/*     float:center; */
 	display: inline-block; /* 가로로 나열하기 위해 수정 */
}
.category_li {
/*     float: left; */
	display: inline-block; /* 가로로 나열하기 위해 수정 */
    margin-right: 10px;
}
a:hover {
        color: #97d4f7;
}
/* 검색창 */
.search {
    position: relative;
    width: 100%;
}
.searchBox {
    width: 250px;
    border: 1px solid #bbb;
    border-radius: 15px;
    padding: 5px 5px;
    font-size: 14px;
    margin-top:2%;
}
.search_img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 10px;
}
/* ----------------------------------------------*/
.content-main {
	width: 90%;
/* 	border: 2px solid rgb(216, 216, 216); */
    text-align: center; 
    margin:0 auto;
    margin-bottom: 5%;
}
.tblPayment {
	width: 100%;
	border-collapse: collapse;
}
.tblPayment tr th{
	height:50px;
	border-top:3px solid lightgray;
	border-bottom: 0.5px solid lightgray;
}
.tblPayment tr td{
	text-align:center;
	height:90px;
	border-bottom: 0.5px solid lightgray;
}
.pay_img {
	width: 50px;
}
.payment-sub {
	width:100%;
}
.payment-cart {
	text-align: left;
}
.payment-price {
	text-align: right;
	margin-right: 1%;
}
.movecart {
	margin-top:1%;
	width: 120px;
	height:30px;
	border:none;
	font-size: 12px;
	cursor: pointer;
	border-radius: 8px;
	background-color:#E6E6E6;
	transition: all 0.3s;
}
.movecart:hover {
	background-color: #D8D8D8;
}
#countpay {
	font-size: 20px;
}
.pay-agree {
	text-align: left;
	margin-top:5%;
}
.check-agree {
	font-size: 13px;
	margin-top:3%;
}
/* 주문자 정보 */
.payment-person {
	width: 100%;
/* 	border: 1px solid black; */
	margin-top: 8%;
	text-align: left;
}
.tbl-info {
	width: 100%;
}
.tbl-info th {
 	width: 15%;
  	font-size: 12px;
  	border-top: 0.5px solid lightgray;
}
.tbl-info td {
 	width: 85%;
 	height:40px;
  	font-size: 12px;
  	border-top: 0.5px solid lightgray;
}
.textBox1 {
	margin-bottom:0.5%;
	margin-top:0.5%;
	height:30px;
	width: 20%;
	border-radius: 20px;
	border: 0.5px solid lightgray;
}
.nameBox{
	border: 0.5px solid lightgray;
}
.postcodeBox{
	border: 0.5px solid lightgray;
}
.addressBox{
	border: 0.5px solid lightgray;
}
.detailAddressBox{
	border: 0.5px solid lightgray;
}
.mobileBox{
	border: 0.5px solid lightgray;
}
.payBox{
	color:black;
}
/* 배송정보 */
.payment-trans {
	width: 100%;
/* 	border: 1px solid black; */
	margin-top: 5%;
	text-align: left;
}
.textBox2 {
	margin-top:0.5%;
	height:30px;
	width: 30%;
	border-radius: 20px;
	border: 0.5px solid lightgray; 
}

/* 참고항목과 밑에 td 간격 조절 */
.textBox3 {
	margin-top:0.5%;
	margin-bottom:0.5%;
	height:30px;
	width: 20%;
	border-radius: 20px;
	border: 0.5px solid lightgray; 
}
.btnPostcode {
	background-color: #E6E6E6;
	border-radius: 20px;
	width: 10%;
	height:25%;
	border: none;
	cursor: pointer;
}
/* 결제 정보 */
.payment-price {
	width: 100%;
/* 	border: 1px solid black; */
	margin-top: 5%;
	text-align: left;
}
.textBox4 {
	margin-bottom:0.5%;
	margin-top:0.5%;
	height:30px;
	width: 10%;
	border: none;
}
/* 일반 결제 */
.payment-pay {
	width: 100%;
/* 	border: 1px solid black; */
	margin-top: 5%;
	text-align: left;
}
.btnPay {
	margin-bottom:0.5%;
	margin-top:0.5%;
	height:35px;
	width: 10%;
	border-radius: 20px;
	border: 0.5px solid lightgray;
}
.btnPay1 {
	margin-bottom:0.5%;
	margin-top:0.5%;
	height:35px;
	width: 8%;
	border-radius: 20px;
	background-color:#F5DA81;
/* 	border: 0.5px solid lightgray; */
	border: none;
}

/* 결제 버튼 */
.btnOrder {
	border-radius: 20px;
	background-color:#97d4f7;
	width: 15%;
	height:40px;
	border: none;
	color:white;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.3s;
}
.btnOrder:hover {
	background-color:#2E9AFE;
}

/* ///드롭다운// */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: medium;
    background-color: inherit;
    color : black;
    padding: 0;
    border: none;
    cursor: pointer;
}
.dropbtn:hover {
    color: #97d4f7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
     transform: translateX(-50%); /* Adjust for centering */
}

.dropdown-content a {
    color : gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #97d4f7;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}
/* 저작권 */
.footer_img {
	width: 15%;
	margin-top:1%;
/* 	height:100px; */
}
footer {
    display: block;
    margin-bottom:10px;
	padding:10px;
}
.footer-layer2 {
	display: flex;
}
.footer_new .footer-layer2 {
    width: 100%;
    height: 170px;
    margin: 30px auto;
    font-size: 12px;
    color: #555;
    line-height: 150%;
}
.footer_new {
    border-top: #ddd solid 2px;
    background: #fff;
}
.footer-1, .footer-2, .footer-3 {
	list-style: none;
	position: relative;
    padding-left: 15px;
    font: 14px/1.7 'SDNeoL', 'notoL';
    color: #999;		
}
.footer-1 {
	width: 25%;
}
.footer-2 {
	width: 45%;
}
.footer-3 {
	width: 30%;
}
.titlename {
	color:#58ACFA;
	margin-left:1%;
}
.provTit {
    margin: 14px 0 5px;
/*     font: 15px/1.5 'SDNeoL', 'notoR'; */
    color: #222;
    }
    
    a {
 	 text-decoration-line: none;
 	 text-align: center;
  	 color: inherit; /* 링크의 색상 제거 */
}